
.outer{
    background-color: #f3e6d8;
    width:100%;
    height:280vh fit-content;
    align-items: center;
    display:flex;
    justify-content: center;
    max-height: 100%;
    padding-top:5%;
    padding-bottom:5%;
}
.inner{
    background-color:white;
    width:47rem;
    margin:auto;
    font-size:16px;
    border-radius:20px;  
}
.inner1{
    padding:2em;
}
p{
    font-family: sans-serif
}
.prep{
    background-color:#fff5fa;
}
p1{
    font-weight: bold;
}
#cook{
   color:#7b284f;
   font-weight:600;
}
#head{
    color: hsl(14, 45%, 36%);
    font-family:'Young Serif';
    font-weight:400;
    font-size:2em;
}
.hi{
    
    font-weight: bold;
}
.pad{
    padding-left:20px;
}
ol li::marker {
    color: hsl(14, 45%, 36%);
    font-size: 16px;
    font-weight:bold;    
}
ul{
    font-family:'Outfit';
}
.order{
    font-family:'Outfit';
}
.tophead{
    font-family:'Young Serif';
}
p{
    font-family:'Outfit';
}
.image{
    width:100%;
    border-radius:13px;
    padding:2em;
}
.tab{
    border:none;
    font-family:'Outfit';
    border-spacing:10em;
    width:100%;
}
.right{
    padding-left:17.5em;
    color:#854632;
    font-weight:600;
   
}
.line{
    border-bottom: 1px solid #c8c9cc;
}
.space{
    padding-left:100p;
}

@media only screen and (min-width: 15px) {
    .inner{
        background-color:white;
        width:100%;
        max-height:100%;
        font-size:18px;
        border-radius:0px;
              
    }
    .inner1{
        padding:2em;
              
    }
    .image{
        width:100%;
        border-radius:0px;
        padding:0%;
    }
    .space{
        padding-left: 2px;
    }
    .right{
        padding-left:3em;
        color:#854632;
        font-weight:600;    
    }
    .outer{
        padding:0%;
    }
}
@media only screen and (min-width:376px){
    .inner{
        background-color:white;
        width:100%;
        max-height:100%;
        font-size:18px;
        border-radius:20px;
              
    }
    .inner1{
        padding:2em;
              
    }
    .image{
        width:100%;
        border-radius:13px;
        padding:4%;
    }
    .space{
        padding-left: 2px;
    }
    .right{
        padding-left:25%;
        color:#854632;
        font-weight:600;    
    }
    .outer{
        padding:0%;
    }
    .outer{
        padding-top:5%;
        padding-bottom:5%;
        padding-left:8%;
        padding-right:8%;
    }
}
@media only screen and (min-width:750px){
    .inner{
        background-color:white;
        width:100%;
        max-height:100%;
        font-size:18px;
        border-radius:20px;
              
    }
    .inner1{
        padding:2em;
              
    }
    .image{
        width:100%;
        border-radius:13px;
        padding:4%;
    }
    .space{
        padding-left: 2px;
    }
    .right{
        padding-left:25%;
        color:#854632;
        font-weight:600;    
    }
    .outer{
        padding-top:5%;
        padding-bottom:5%;
        padding-left:8%;
        padding-right:8%;
    }
}